include setup.py
include README.rst
include LICENSE
include CHANGES
include imposm/900913.sql
include imposm/cache/tc.c
include imposm/cache/tc.pyx
include internal.proto
include imposm/cache/internal.cc
exclude imposm/cache/internal.pb.cc
